/*css*/
#board{
    margin: auto;
    overflow: auto;
    width: 156px;
}
.box{
    border: 1px solid #666666;
    float: left;
    height: 50px;
    width: 50px;
	cursor: pointer;
}
.selected{
	background-color: #ccc;
}
#turn-status{
    margin: auto;
    width: 50px;
}